/* variables */
:root{
    --primary: #FFC636;
    --secondary: #0A0B5B;
}


::selection{
    background-color: var(--primary);
    color: var(--secondary);
}

/* reset */
body, p, a, ul, ol, li{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Rubik Regular';
}

li{
    list-style: none;
}

body{
    background-color: var(--secondary);
    overflow-x: hidden;
}

.button{
    background: none;
    border: 2px solid var(--primary);
    color: var(--primary);
    padding: 6px 12px;
    border-radius: 20px;
    text-transform: uppercase;
    box-shadow: 1px  2px 3px rgba(0,0,0, 0.6);
    display: inline-block;
}
  
.button:hover{
    color: #222;
    background-color: var(--primary);
}

/* font */
@font-face{
    font-family: 'Rubik Regular';
    src: url('assets/fonts/Rubik-Regular.ttf');
}

h1,h2, h3, h4{
    color: #DDDBFF;
    font-weight: normal;
}

p, a, li{
    color:#9893D8;
}

p{
    font-size: 1.2em;
}

h1, h3{
    font-size: 1.2em;
}

h2{
    font-size: 1.6em;
}

h4{
    font-size: 1.1em;
}

/* mobile style */

/* home page */
.site-nav ul li a, footer ul li a{
    transition: all 0.6s ease;
}
.site-nav ul li a:hover, footer ul li a:hover{
    font-size: 1.2em;
    color: var(--primary);
}

.grid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
}

.site-nav{
    margin: 0 20px;
}

.site-nav h1{
    grid-column: 1/5;
    grid-row: 1;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--primary);
}


.site-nav ul{
    display: none;
}


.about-myself{
    padding: 30px 20px;
}

.my-img{
    grid-column: 1/9;
}

.my-img img{
    width: 100%;
}

.my-description{
    grid-column: 1/9;
    background: url(assets/square_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 30px 20px;
}

.my-description hr{
    border: 1px solid #f2f2f2;
}

.news-feed{
    padding: 30px 20px;
    background: #080936;
}

.news-feed h3{
    text-align: center;
    font-size: 1.8em;
}

.news{
    padding: 20px 0px;
    border-radius: 10px;
}

.news a{
    grid-column: 1/9;
    margin: 0 20px;
    border: 2px solid var(--primary);
    padding: 10px 20px;
}

.news img{
    width: 100%;
    object-fit: cover;
}

.news button{
    margin-bottom: 20px;
}

footer{
    padding: 30px 20px;
    background-color: #14153D;
    background-image: url(assets/images/footer_image.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: top center;
}

footer .created-by{
    grid-column: 1/3;
    font-size: 0.8em;
}

footer .social{
    grid-column: 7/9;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

footer li{
    margin: 0 6px;
}
footer i{
    font-size: 1.4em;
}

/* Study Subject Page */
.my-study-subject{
    padding: 90px 20px;
}

.my-study-subject h1{
    text-align: center;
    font-size: 1.6em;
}


table {
    height: 500px;
    width: 95%;
    background: #080936;
    border-radius: 0.25em;
    border-collapse: collapse;
    margin: 1em;
}

th{
    border-bottom: 1px solid #364043;
    color:  var(--primary);
    font-size: 1.2em;
    font-weight: 600;
    padding: 0.5em 1em;
    text-align: left;
}

td {
    color: #fff;
    font-weight: 400;
    padding: 0.65em 1em;
    font-size: 1.2em;
}

tbody tr {
    transition: background 0.25s ease;
}

tbody tr:hover {
    background: #060745
}

.schedule-ss-link{
    margin-top: 70px;
    text-align: center;
}

/* hobbies page */
.hobby{
    padding: 30px 20px;
}



.hobby h1{
    text-align: center;
    margin-bottom: 20px;
}

.hobbies li:nth-child(1){
    grid-column: 1/9;
}

.hobbies li:nth-child(2){
    grid-column: 1/9;
}
.hobbies li:nth-child(3){
    grid-column: 1/9;
}

.hobbies ul img{
    width: 100%;
}

.hobbies p{
    margin-top: 10px;
    margin-bottom: 20px;
}

.content{
    padding: 30px 20px;
}

.content h2{
    text-align: center;
    font-size: 1.2em;
}

.musics li:nth-child(1), .musics li:nth-child(2), .musics li:nth-child(3), .musics li:nth-child(4), .musics li:nth-child(5), .musics li:nth-child(6) {
    grid-column: 1/9;
}


.musics video{
    width: 100%;
}

.musics{
    width: 100%;
}

.musics li{
    margin-bottom: 20px;
}

.musics audio{
    width: 80%;
}

.house-info h2{
    text-align: center;
}

.house-info {
    padding: 30px 20px;
}

#moving{
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: #060745;
}

#moving li{
    font-size: 1.1em;
    transition: all 0.3s ease;
}

#moving li:hover{
    color: var(--primary);
    scale: 1.1;
}


/* tablet styles */
@media screen and (min-width: 900px){
    body{
        font-size: 18px;
    }

    .grid{
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
    }

    .site-nav{
        padding: 0 20px;
    }

    .site-nav h1{
        grid-column:1/3 ;
    }

    .site-nav ul{
        display: flex;
        grid-column: 3/9;
        align-items: center;
        gap: 20px;
        justify-content: flex-end;
    }


    .my-img img{
        width: 70%;
        margin: 10px 15%;
    }

    .news a{
       padding: 0; 
    }

    .news a:nth-child(1){
        grid-column: 1/4;
    }

    .news a:nth-child(2){
        grid-column: 4/8;
    }

    .news a:nth-child(3){
        grid-column: 1/4;
    }

    .news a *{
        max-width: 90%;
        margin: 20px 5%;
    }

    .news img{
        width: 80%;
    }

    footer{
        padding: 40px 20px;
        background-size: 25%;
    }

    #moving{
        display: none;
    }
}

/* desktop styles */
@media screen and (min-width: 1200px) {
    body{
        font-size: 20px;
    }

    .site-nav{
        padding: 30px 20px;
    }
    .site-nav ul li:hover{
        color: var(--primary);
    }

    .about-myself .my-img{
        grid-column: 1/4;
    }

    .about-myself .my-description{
        grid-column: 4/9;
        padding: 50px 20px;
    }

    .news{
        grid-template-columns: repeat(10, 1fr);
        margin: 0 5%;
    }

    .news a:nth-child(1){
        grid-column: 1/4;
    }

    .news a:nth-child(2){
        grid-column: 4/7;
    }

    .news a:nth-child(3){
        grid-column: 7/10;
    }

    table{
        width: 80%;
        margin: 0 10%;
    }

    footer{
        padding: 70px 20px;
        background-size: 30%;
    }

    footer p{
        font-size: 1.4em;
    }

    footer i{
        font-size: 2em;
    }

    .hobby h1{
        font-size: 1.6em;
        margin-bottom: 50px;
    }

    .hobbies .grid{
        grid-template-columns: repeat(10, 1fr);
    }

    .hobbies ul *{
        width: 90%;
        margin: 0 10%;
    }

    .hobbies li:nth-child(1){
        grid-column: 1 / 4;
    }
    
    .hobbies li:nth-child(2) {
        grid-column: 4 / 7;
    }
    
    .hobbies li:nth-child(3) {
        grid-column: 7 / 10;
    }
    
    .hobbies img{
        width: 100%;
        margin-bottom: 20px;
    }

    .hobbies p{
        margin-top: 20px;
    }

    .content h2{
        text-align: center;
        font-size: 1.6em;
    }

    .musics{
        grid-template-columns: repeat(10, 1fr);
        gap: 60px;
        margin: 0 5%;
    }

    .musics li:nth-child(1){
        grid-column: 1/4;
    }

    .musics li:nth-child(2){
        grid-column: 4/7;
    }

    .musics li:nth-child(3){
        grid-column: 7/10;
    }

    .musics li video{
        width: 100%;
    }

    .musics li:nth-child(4){
        grid-column: 1/4;
        grid-row: 2;
    }
    
    .musics li:nth-child(5){
        grid-column: 4/7;
        grid-row: 2;
    }
    
    .musics li:nth-child(6){
        grid-column: 7/10;
        grid-row: 2;
    }

    #moving{
        display: none;
    }

}